node_modules/
dist/
.env
.env.local
.DS_Store
*.log
.vscode/settings.json
.idea/
.env.production.local
.env.development.local
.env.test.local
.cache/
.parcel-cache/
.next/
out/
build/
server/uploads/*
test-results/
playwright-report/
